html, body {
    height: 100%;
}

.row {
    margin: 0;
}

.loader-background {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    top: 0;
    left: 0;
}

.playlist-container {
    max-height: 50vh;
    overflow-y: auto;
}

#playInfo {
    text-overflow: ellipsis;
    white-space: nowrap;
}

table a {
    text-decoration: none !important;
}

.footer-whitespace {
    height: 40px;
}

.nav-tabs > li {
    background-color: #4e5d6c;
}

.shell {
    background-color: #000;
    color: #00FF00;
    font-family: monospace;
    border: none;
    resize: none;
}

.input-group-addon {
    background-color: #2b3e50;
}

.btn-dark {
    color: #ffffff;
    background-color: #2b3e50;
    border-color: transparent;
}

.orange {
    color: #df691a;
    /*text-shadow: 0 0 1px #df691a;*/
}
.orange:hover {
    color: #df691a;
    /*text-shadow: 0 0 1px #df691a;*/
}

td.sorter {
    background: url('../img/drag_icon.png') no-repeat center;
    background-size: 16px 16px;
}

table.sorting-table {
    cursor: grabbing;
}

.sorting-row {
    background-color: #4e5d6c;
}

.album-title {
    text-overflow: ellipsis;
    text-align: center;
    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
}

.image{
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
}
.image img{
    position:absolute;
}

@media (min-width: 768px) {
    .menu-left.navbar-collapse {
        height: auto;
        border-top: 0;
        box-shadow: none;
        max-height: none;
        padding-left:0;
        padding-right:0;
    }
    .menu-left.navbar-collapse.collapse {
        display: block !important;
        width: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }
    .menu-left.navbar-collapse.in {
        overflow-x: visible;
    }

    .menu-left.navbar
    {
        /*max-width:300px;*/
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 0;
        height: 100%;
    }

    .menu-left.navbar-nav,
    .menu-left.navbar-nav > li,
    .menu-left.navbar-left,
    .menu-left.navbar-right,
    .menu-left.navbar-header
    {float:none !important;}

    .menu-left.navbar-right .menu-left.dropdown-menu {left:0;right:auto;}
    .menu-left.navbar-collapse .menu-left.navbar-nav.navbar-right:last-child {
        margin-right: 0;
    }

    .navbar-brand {
        font-size: 18px;
    }

    .full-height {
        height: 100%;
        float: left;
        position: relative;
        padding-bottom: 40px;
    }

    .full-height.menu-left {
        width: 15%;
        padding-bottom: 0 !important;
    }

    .full-height.playlist-container {
        width: 0;
        padding-bottom: 0 !important;
    }

    #content, #video {
        width: 85%;
        overflow-y: auto;
        padding-bottom: 0 !important;
    }
    
    .footer-whitespace {
        display: none;
    }
}

@media (max-width: 767px) {
    .btn-music {
        padding: 8px 16px !important;
    }
    .jp-time {
        display: none !important;
    }
}

@media (max-width: 1200px) {
    .navbar-brand {
        font-size: 14px;
        white-space: nowrap;
    }

    .navbar {
        margin-bottom: 0;
    }

    h3 {
        margin: 10px 10px;
    }
}