body html {
    width: 100%;
}
.sticky{
    max-width: 500px;
}
.row{
    max-width: 100%;
}
.jp-audio{
    width: 100% !important;
}
.jp-gui{
    box-sizing: border-box;
}

.top-bar {
    position: fixed;
    height: 100px;
    width: 100%;
    margin:0 auto;
    z-index: 50;

}

#content {
    position: relative;
    top: 100px;
}

.jp-interface {
    height: auto !important;
}

.table-icon {
    padding: 0 4px 0 4px;
    text-align: center;
    vertical-align: middle;
}

.jp-playlist-current {
    background-color: #2199e8 !important;
    color: #fff;
}
a.jp-playlist-current {
    color: #fff;
}

@media screen and (max-width: 768px) {
    .top-bar {
        position: relative;
    }
    #content {
        top: 0;
    }
    .menu-text {
        display: block !important;
    }
    .jp-gui {
        max-width: 100%;
    }
    .jp-controls {
        width: 100% !important;
    }
}
/*

.jp-controls {
    padding: 0 !important;
    width: auto !important;
}

.controls-container {
    float:left;
    vertical-align: middle;
    height: 100%;
    width: auto;
}

.jp-progress {
    position: relative !important;
    top: auto !important;
    left: auto !important;
}

.jp-volume-controls {
    position: relative !important;
    top: auto !important;
    left: auto !important;
}

.jp-time-holder {
    position: relative !important;
    top: auto !important;
    left: auto !important;
}

.jp-toggles {
    position: relative !important;
    top: auto !important;
    left: auto !important;
}
*/
/*
.jp-controls .jp-progress .jp-volume-controls .jp-toggles .jp-type-playlist .jp-audio{
    display: block;
}
.jp-playlist{
    overflow: auto;
    overflow-y: scroll;
    height: 75vh;
}
.jp-container{
    height: 60%;
}
#filebrowserTable{
    overflow: auto;
    overflow-y: scroll;
    height: 90%;
}
#content{
    height: 100%;
}
.blog-post{
    height: 93vh;
    position: relative;
    overflow-y: hidden;
}
*/