body html {
    width: 100%;
}
.sticky{
    max-width: 500px;
}
.row{
    max-width: 100%;
}
.jp-audio{
    /*width: 100% !important;*/
}
.jp-gui{
    box-sizing: border-box;
}

.navbar-default {
    background-color: #e6e6e6;
}

.nav-full {
    height: 100% !important;
    vertical-align: middle;
}

.nav-logo {
    height: 85px;
    display:table-cell;
    vertical-align : middle;
}

.nav-logo > h4, .nav-logo > div {
    display: block;
    padding: 10px 15px;
    line-height: 20px;
}

.dataTables_filter {
    display: none;
}

.table-striped > tbody > tr:nth-of-type(even) {
    background-color: #fff;
}
.table-hover > tbody > tr:hover {
    background-color: #f5f5f5;
}

#content {
    position: relative;
    top: 75px;
}

.jp-interface {
    height: auto !important;
}

.table-icon {
    padding: 0 4px 0 4px;
    text-align: center;
    vertical-align: middle;
}

.btn, .form-control, .modal-content, .panel, .alert {
    border-radius: 0;
}

.blue {
    background-color: #2199e8;
    color: #fff;
    border: none;
}

.blue:hover {
    transition: background-color 0.5s ease;
    background-color: #1585cf;
    color: #fff;
}

table.dataTable.no-footer {
    border-bottom: none !important;
}

.jp-playlist-current {
    background-color: #2199e8 !important;
    color: #fff;
}

table.sorting-table {
    cursor: move;
}
table tr.sorting-row td, table tr.sorting-row a {
    background-color: #337ab7 !important;
    color: #fff !important;
}

a.jp-playlist-current {
    color: #fff;
}

@media screen and (max-width: 768px) {
    .navbar {
        position: relative !important;
        height: auto !important;
    }
    #content {
        top: 0;
    }
    .menu-text {
        display: block !important;
    }
    .jp-gui {
        max-width: 100%;
    }
    .jp-audio, .jp-controls {
        width: 340px !important;
    }
    .jp-progress, .jp-time-holder {
        width: 120px !important;
    }
    .jp-current-time, .jp-duration {
        width: auto !important;
    }
    .jp-volume-controls {
       display: none !important;
        left: 248px !important;
    }
    .jp-toggles {
        left: 295px !important;
        top: 30px !important;
    }
}

@media (min-width: 700px) {
    .container {
        width: 100%;
    }
}

@media (max-width: 1000px) {
    #playInfo {
        display: none;
    }
}
/*

.jp-controls {
    padding: 0 !important;
    width: auto !important;
}

.controls-container {
    float:left;
    vertical-align: middle;
    height: 100%;
    width: auto;
}

.jp-progress {
    position: relative !important;
    top: auto !important;
    left: auto !important;
}

.jp-volume-controls {
    position: relative !important;
    top: auto !important;
    left: auto !important;
}

.jp-time-holder {
    position: relative !important;
    top: auto !important;
    left: auto !important;
}

.jp-toggles {
    position: relative !important;
    top: auto !important;
    left: auto !important;
}
*/
/*
.jp-controls .jp-progress .jp-volume-controls .jp-toggles .jp-type-playlist .jp-audio{
    display: block;
}
.jp-playlist{
    overflow: auto;
    overflow-y: scroll;
    height: 75vh;
}
.jp-container{
    height: 60%;
}
#filebrowserTable{
    overflow: auto;
    overflow-y: scroll;
    height: 90%;
}
#content{
    height: 100%;
}
.blog-post{
    height: 93vh;
    position: relative;
    overflow-y: hidden;
}
*/