<?php
const BASE_URI = ""; //This is the URL of your WebDAV share. For ownCloud, use your ownCloud address. Please include the http(s)://
const USERNAME = ""; //This is your username you use to access your WebDAV share
const PASSWORD = ""; //This is your password you use to access your WebDAV share
const START_FOLDER = ""; //This is the start folder, if your WebDAV requires some path to access the files. For ownCloud this is /remote.php/webdav/

const FFMPEG = "ffmpeg"; //Linux: Just use ffmpeg. Debian: avconv. Windows: Full path to ffmpeg.exe
//Please make sure the convert folder is writeable (chmod 0777):
const CONVERT_FOLDER = ""; //Full system path, make sure it is reacheable through your website. By default ""/your/path/to/www/out"
const CONVERT_FOLDER_RELATIVE = ""; //Relative to the webpage, by default "out"